body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#timeline {
    margin-top: 150px;
}

#boarding {
    width: 650px;
    height: 150px;
    background-color: lightgrey;
    margin-left: 30px;
}

#remove {
    width: 350px;
    height: 150px;
    background-color: #5bc0de;
    margin-left: 30px;
}

.preview-textfield{
    width: 300px;
    position: inherit;
    top: 65px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}

.aircraft {
    position: relative;
    width: 1915px;
    left: -260px;
    top: -700px;
    z-index: -1000;
    opacity: 0.6;
}

#canvas.sppac {
    background: url("PACbok.svg") no-repeat;
    background-size: 2616px;
    background-position-y: -652px;
    background-position-x: -611px;
}
#canvas.sppac.active {
    background: url("PACgora.svg") no-repeat;
    background-size: 3996px;
    background-position-y: -1003px;
    background-position-x: -1301px;
}

#canvas.spwawOLD {
    background: url("c208b.jpg") no-repeat;
    background-size: 1627px;
    background-position-y: -206px;
    background-position-x: -260px;
}

#canvas.spwaw {
    background: url("Cessna 208 Caravan Super Cargomaster (2010).svg") no-repeat;
    background-size: 5055px;
    background-position-y: -501px;
    background-position-x: -476px;
}

#canvas.spwaw.active {
    background: url("C208B-TOP.svg") no-repeat;
    background-size: 2138px;
    background-position-y: -1141px;
    background-position-x: -314px;
}

#canvas.dfprf {
    background: url("C208-SHORT.jpg") no-repeat;
    background-size: 1855px;
    background-position-x: -279px;
    background-position-y: -620px;
}

#canvas.dfprf.active {
    background: url("C208B-TOP.svg") no-repeat;
    background-size: 2138px;
    background-position-y: -1141px;
    background-position-x: -314px;
}

#canvas.pink {
    background: url("skyvan-side.png") no-repeat;
    background-size: 1559px;
    background-position-x: -54px;
    background-position-y: -143px;
}

#canvas.pink.active {
    background: url("skyvan-top.png") no-repeat;
    background-size: 1579px;
    background-position-y: -52px;
    background-position-x: -50px;
}


#canvas {
    width: 1300px;
    height: 430px;
    position: relative;
    margin: 30px 0px 5px 30px;
    background: cornsilk no-repeat;
}

#canvas.active {
    background: cornsilk no-repeat;
}

.btn-group {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.btn-group button {
    margin-right: 10px;
}

#btn2 {
    text-align: right;
}
canvas#gauge , canvas#gauge2 {
    margin-top: -15px;
}

.vl {
    border-left: 2px solid darkred;
    height: 400px;
    position: absolute;
    style: dotted;
    top: 0px;
}

#results {
    padding-top: 40px;
    width: 350px;
    position: absolute;
    top: 330px;
    text-align: left;
}

#results table {
    font-size: x-small;
}
.ok {
    background-color: green;
}
.outofcg {
    background-color: red;
}

.boarded {
    opacity: 0.8 !important;
    background: #007BFF !important;
}

#weightDisplay {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
#regAircraftTitle {
    background-color: #5bc0de;
    color: white;
    font-size: xxx-large;
    padding-top:20px;
    padding-bottom:20px;
}

#alert {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #00bb00;
    position: relative;
    top: 50px;
    left: 50px;
}

.skydiver {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 40px;
    background: green;
    cursor: move;
    opacity: 0.5;
    left: 300px;
    top: 490px;
    z-index: 100;
}

#circle {
    border-radius: 50%;
    width: 60px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

.result {
  color: white;
  font-size: 18px;
  transform: rotate(-90deg);
  text-align: center;
  color: white;
  padding-top: 10px;
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#results{
    text-align: center;
    position: absolute;
    top: 40px;
    right: 20px;
}

#container {
    display: flex;
}

.slidecontainer input {
    width: 250px; /* Width of the outside container */
    display: flex;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-left: #0e90d2 1px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.box {
    background-color: rgba(255, 255, 255, 0.3);
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 20px;
}
